@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
*
{
    padding: 0;
    margin: 0;
  box-sizing: border-box;
}
/* main section */
.container{
    height:100vh;
    width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
html{
    font-size: 10px;
    font-family: 'Playfair Display', serif;
}
a{
    text-decoration: none;    

}


#main{
  background-image: url(https://ayushsinghal23.github.io/website/images/hero-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
#main .main
{
    max-width: 1200px;
    padding:0 100px;
    justify-content: flex-start;
    margin: 0 auto;
    border:2px sold black;
}
#main::after{
    left:0;
    position: absolute;
    top:0;
    width:100%;
    height:100%;
    background-color: black;
    content:" ";
    opacity: 0.7;
    z-index: -1;
}

#main h1{
    display: block;
    color:transparent;
    position: relative;
    font-size: 4rem;
    width: fit-content;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
#main h1:nth-child(1)
{
    animation-delay: 1.5s;
}
#main h1:nth-child(2)
{
    animation-delay: 2.5s;
}
#main h1:nth-child(3)
{
    animation-delay: 3.5s;
}
#main h1 span{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:0;
    background-color: rgb(243, 63, 63);
    animation: text_revealing_box_main 1s ease;
    animation-delay: 1s;
}
#main h1:nth-child(1) span{
    animation-delay:1s;
}
#main h1:nth-child(2) span{
    animation-delay:2s;
}
#main h1:nth-child(3) span{
    animation-delay:3s;
}

#main .cta{
    display:inline-block;
    background-color: transparent;
    margin: auto;
    border: 2px solid red;
    padding: 10px 30px;
    color:red;
    margin-top: 30px;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    transition: ease .3s;
    transition-property: background-color,color;
}
#main .cta:hover
{
   background-color:red;
   color: white;
   border: 2px solid;
}
/* End of main section */


/* Services section */





@keyframes text_revealing_box_main
{
    50%{
        width:100%;
        left:0%;
        background-color: rgb(243, 63, 63);
    }
    
    100%
    {
        width:0;
        left:100%;
        background-color:rgb(243, 63, 63) ;
    }
}
@keyframes text_reveal
{
    100%
    {
        color:white;
    }
}

